*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: default;
}
:focus{
    outline: none;
    border-bottom: 3px white solid;
}