h1{
    @media (max-width:768px) {
        font-size: 2rem;
    }
}
h2{
    font-size: 3rem;
    @media (max-width:768px){
        font-size: 2rem;
    }
}
p{
    font-size: 1.5rem;
    @media (max-width:768px) {
      font-size: 1rem;  
    }
}
.presentation_title,
.presentation_projet,
.presentation_experience,
.presentation_contact{
    font-family: $fontgeneral;
    width: 100%;
    text-align: center;
    @include column{
        justify-content: center;
        align-items: center;
        a{
            color: black;
            text-decoration: none;
        }
    }
}
.presentation_title{
    min-height: 500px;
    background-color: white;
    position: relative;
    z-index: -11;
}
.presentation_projet,
.presentation_experience,
.presentation_contact{
    min-height: 300px;

}
.presentation_experience{
    background-color: white;
    &:focus{
        border: 3px black solid;
    }
}
.presentation_projet,
.presentation_contact{
    background-color: #800;
}