.bannieretop{
    font-family: $fontbannieretop;
    width: 100%;
    height: 30px;
    color: white;
    background-color: #800;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        margin-right: 20px;
    }
    a{
        color: white;
        text-decoration: none;
    }    
}